<ion-view title="Events" id="page3">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 50px;"></div>
    <a ui-sref="tabsController.joinEvent" id="events-button11" class="button button-calm  button-block">Join or Find Event</a>
    <div class="spacer" style="height: 50px;"></div>
    <a ui-sref="tabsController.hostEvent" id="events-button12" class="button button-calm  button-block">Host Event</a>
    <div class="spacer" style="height: 50px;"></div>
    <a ui-sref="tabsController.manageEvent" id="events-button13" class="button button-calm  button-block">Manage Event</a>
  </ion-content>
</ion-view>