<ion-view title="Host Event" id="page8">
  <ion-content padding="true" class="has-header">
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <button id="hostEvent-button15" class="button button-calm  button-block">Set Event Image</button>
    <form id="hostEvent-form14" class="list">
      <label class="item item-input" id="hostEvent-input15">
        <span class="input-label">Event Name</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="hostEvent-input16">
        <span class="input-label">Location</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="hostEvent-input13">
        <span class="input-label">Attendee E-mail</span>
        <input type="text" placeholder="">
      </label>
      <button id="hostEvent-button18" class="button button-calm  button-block">Invite Attendee</button>
      <label class="item item-input" id="hostEvent-input12">
        <span class="input-label">Handler E-mail</span>
        <input type="email" placeholder="">
      </label>
      <button id="hostEvent-button16" class="button button-calm  button-block">Invite Event Handler</button>
      <label class="item item-input" id="hostEvent-input19">
        <span class="input-label">Time &amp; Date</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="hostEvent-input20">
        <span class="input-label">Event Description</span>
        <input type="text" placeholder="">
      </label>
      <button id="hostEvent-button24" class="button button-calm  button-block">Create Event</button>
    </form>
  </ion-content>
</ion-view>