<ion-view title="Manage Event" id="page9">
  <ion-content padding="true" class="has-header">
    <ion-list id="manageEvent-list1">
      <ion-item class="item-avatar" id="manageEvent-list-item7">
        <h2>Item</h2>
      </ion-item>
      <ion-item class="item-avatar" id="manageEvent-list-item8">
        <h2>Item</h2>
      </ion-item>
    </ion-list>
    <button id="manageEvent-button17" style="border-radius:60px 60px 60px 60px;" class="button button-balanced  button-block">Check Attendee In</button>
    <form id="manageEvent-form17" class="list">
      <label class="item item-input" id="manageEvent-textarea2">
        <span class="input-label">Event Manager Options</span><textarea placeholder=""></textarea></label>
    </form>
    <form id="manageEvent-form19" class="list">
      <label class="item item-input" id="manageEvent-input24">
        <span class="input-label">Handler to dismiss</span>
        <input type="text" placeholder="">
      </label>
    </form>
    <button id="manageEvent-button21" class="button button-calm  button-block">Dismiss Handler</button>
    <button id="manageEvent-button23" class="button button-calm  button-block">End Event</button>
    <button id="manageEvent-button22" class="button button-calm  button-block">Cancel Event</button>
  </ion-content>
</ion-view>