<ion-view title="New User" id="page6">
  <ion-content padding="true" class="has-header">
    <form id="newUser-form6" class="list">
      <label class="item item-input" id="newUser-input10">
        <span class="input-label">Enter E-mail</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="newUser-input11">
        <span class="input-label">Set Password</span>
        <input type="password" placeholder="">
      </label>
    </form>
    <a ui-sref="tabsController.profile2" id="newUser-button9" class="button button-calm  button-block">Done</a>
  </ion-content>
</ion-view>