<ion-view title="Profile" id="page5">
  <ion-content padding="true" class="has-header">
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <button id="profile2-button6" class="button button-calm button-small button-block">Set Profile Picture</button>
    <form id="profile2-form5" class="list">
      <label class="item item-input" id="profile2-input8">
        <span class="input-label">Set Name</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="profile2-input9">
        <span class="input-label">Location</span>
        <input type="text" placeholder="">
      </label>
      <button id="profile2-button10" class="button button-calm button-small button-block">Done</button>
    </form>
  </ion-content>
</ion-view>