<ion-view title="Profile" id="page2">
  <ion-content padding="true" class="has-header">
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <form id="profile-form1" class="list">
      <label class="item item-input" id="profile-input1">
        <span class="input-label">E-mail</span>
        <input type="email" placeholder="">
      </label>
      <label class="item item-input" id="profile-input2">
        <span class="input-label">Password</span>
        <input type="password" placeholder="">
      </label>
    </form>
    <a ui-sref="tabsController.profile2" id="profile-button4" class="button button-calm button-small button-block">Login</a>
    <a ui-sref="tabsController.newUser" id="profile-button5" class="button button-calm button-small button-block">New User</a>
  </ion-content>
</ion-view>