<ion-view title="Settings" id="page4">
  <ion-content padding="true" class="has-header">
    <div id="settings-container2">
      <form id="settings-form11" class="list">
        <ion-checkbox id="settings-checkbox2" name="radGAPI">Add Google API</ion-checkbox>
        <label class="item item-input" id="settings-input14">
          <span class="input-label">Google API</span>
          <input type="text" placeholder="">
        </label>
      </form>
    </div>
    <form id="settings-form12" class="list">
      <ion-checkbox id="settings-checkbox3" name="radShoL">Share location</ion-checkbox>
    </form>
  </ion-content>
</ion-view>